.cart{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s linear;
    &.active{
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        .cart__content{
            right: 0;
        }
        .cart__empty{
            transform: translateY(0);
        }
    }
    &__content{
        width: 33%;
        min-width: 430px;
        background-color: #fff;
        position: absolute;
        right: -100%;
        height: 100vh;
        transition: right 0.3s ease;
        padding: 70px 50px 50px;
    }
    &__close{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    &__title{
        color: #040037;
        font-size: 18px;
        span{
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__bottom{
        margin-top: 20px;
        border-top: 1px solid #040037;
        a{
            display: block;
            width: 100%;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            background-color: #040037;
            color: #fff;
            text-decoration: none;
            padding: 18px 0;
            border-radius: 10px;
            span{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    &__total{
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        color: #040037;
        text-transform: uppercase;
        font-size: 18px;
    }
    &__empty{
        position: absolute;
        right: 100px;
        top: 100px;
        width: 438px;
        height: 138px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        flex-direction: column;
        transform: translateY(-20px);
        transition: transform 0.3s ease-in-out;
        h4{
            font-size: 16px;
            font-weight: 700;
            color: #040037;
            margin-bottom: 15px;
        }
        P{
            font-size: 14px;
            color: #040037;
            margin-right: 14px;
        }
    }

}