.product-cart{
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 20px;
    &__img{
        min-width: 100px;
        max-width: 100px;
        height: 130px;
        display: flex;
        align-items: center;
        img{
            display: block;
            width: 100%;
            height: auto;
            max-height: 130px;
        }
    }
    &__title{
        font-size: 16px;
        font-weight: 400;
        margin-left: 20px;
        color: #040037;
    }
    &__price{
        position: absolute;
        bottom: 0;
        right: 20px;
        color: #040037;
    }
    &__btn{
        margin-left: auto;
    }
}