.menu-list{
    display: flex;
    &__item{
        position: relative;
        &:not(:last-child) {
            margin-right: 30px;
        }
        a{
            text-decoration: none;
        }
    }
    button{
        cursor: pointer;
        background-color: transparent;
        border: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #040037;
        font-size: 15px;
        &:hover svg{
            background-color: rgba(4, 0, 55, .1);
        }
        svg{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            fill: rgb(4, 0, 55);
            padding: 5px;
            transition: background-color 0.3s ease-in-out;
        }
    }
    &__count{
        position: absolute;
        color: #fff;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
    }
}